include ./components/card/card.pug

mixin page(isArticles=false)
  doctype html

  html(lang="ru")
    head
      title Сивцов Андрей

      link(rel='stylesheet', href='../styles.css')

      script(src= '../polyfills.js' defer)
      script(src='../interactive/index.js' defer)

      meta(name="viewport", content="width=device-width, initial-scale=1")
      meta(name="description" content="Разработчик веб-приложений. Люблю чистый код и качественные продукты. Программирую на TypeScript")

      link(rel="shortcut icon" href="../favicons/favicon.ico")
      meta(name="theme-color" content="#ffffff")

    body
      main(class="app")
        +card("about", "Обо мне", !isArticles, true)
          include ./blocks/about.pug

        +card("projects", "Проекты")
          include ./blocks/projects.pug

        +card("experience", "Навыки")
          include ./blocks/experience.pug
